
*{
    transition: .5s;
}

/* start variables */
:root {
    --main-transition: 0.5s;
    --main-color: #19faa4;
    --text-color: #777;
    --transparent-color: #19faa4b0;
    --section-padding: 100px;
}
/* end variables */

/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Oswald", sans-serif;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small screen */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium screen */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large screen */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end global rules */

/* start components */
.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 10px;
    position: relative;
}

.main-heading p {
    color: var(--text-color);
    margin-bottom: 100px;
}
/* end components */

/* start header  */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

header .logo img {
    height: 60px;
}

header .logo img.name {
    height: 90px;
    margin-left: -10px;
}

header .logo {
    display: flex;
    align-items: center;
    margin-left: -10px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 30px);
    bottom: 0;
    left: 15px;
    background-color: white;
}

header nav .toggle-menu {
    color: white;
    font-size: 25px;
    position: absolute;
    margin: 0 0px;
}

/*@media (min-width: 768px) {
    header nav .toggle-menu {
        display: none;
    }
}*/

header nav ul {
    display: flex;
    overflow: hidden;
    position: absolute;
        top: 100%;
        left: 0;
}

@media (max-width: 767px) {
    /*header nav .toggle-menu + ul {
        display: none;
    }
    header nav .toggle-menu:hover {
        color: var(--main-color);
    }
  /*  header nav .toggle-menu:hover{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(29, 27, 27, 0.726);
    }*/
    header nav ul li a {
        padding: 15px !important;
    }
}

header nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 36px 10px;
    font-size: 14px;
}

header nav ul .active a {
    color: var(--main-color);
}

header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    position: relative;
    z-index: 2;
    transition: var(--main-transition);
}

header nav .form {
    height: 30px;
    width: 40px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}

header nav .form i {
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
/* end header  */

/* start landing */
.landing {
    height: 100vh;
    background-color: rgb(22, 21, 21);
    background-image: url(pexels-francesco-ungaro-998641.jpg);
    background-size: cover;
    position: relative;
}

.landing .overlay {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #19c9fa11;
}

.landing .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
    padding: 50px;
    background-color: var(--transparent-color);
    display: flex;
    justify-content: flex-end;
}

.landing .text .content {
    width: 700px;
}

.landing .text .content h2 {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.landing .text .content h2 .secondary-title {
    font-size: 30px;
}

.landing .text .content h2 .our-name {
    font-family: "Dancing Script", cursive;
    color: white;
}

.landing .text .content p {
    color: white;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
}

@media (max-width: 767px) {
    .landing .text .content h2 {
        font-size: 30px;
        line-height: 1.1;
    }
    .landing .text .content h2 .secondary-title {
        font-size: 20px;
    }
    .landing .text .content p {
        font-size: 14px;
        line-height: 1.2;
    }
}

@media (max-width: 355px) {
    .landing .text {
        top: 60%;
        transform: translateY(-60%);
    }
}
/* end landing */

/* start services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: 50px;
}

@media (min-width: 768px) {
    .services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        column-gap: 40px;
        row-gap: 60px;
    }
}

.services .box {
    display: flex;
    margin-bottom: 60px;
    padding: 30px;
}

.services .box:hover {
    border-radius: 10px;
    box-shadow: 0 0 15px var(--text-color);
}

.services .box i {
    font-size: 50px;
    width: 60px;
    padding-right: 25px;
    margin-right: 20px;
}

@media (max-width: 767px) {
    .services .box {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .services .box i {
        width: initial;
        margin: 0 0 30px;
        padding: 0;
    }
}

.services .box h3 {
    color: var(--main-color);
    margin-bottom: 30px;
}

.services .box p {
    color: var(--text-color);
    line-height: 2;
}

.services .services-container {
    padding: 30px;
}
/* end services */

/* start design section */
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    height: 600px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.design .images,
.design .text {
    position: relative;
    z-index: 2;
}

.design .images {
    margin-left: 100px;
    width: 200px;
}

.design .text {
    color: black;
    padding: 50px;
    background-color: var(--transparent-color);
}

.design .text h2 {
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
}

.design .text ul li {
    font-size: 20px;
    padding-left: 30px;
    margin-bottom: 15px;
    list-style:circle;
}

@media (max-width: 768px) {
    .design {
        display: flex;
        flex-direction: column;
    }
    .design .text {
        width: 100%;
        margin-top: 50px;
    }
    .design img {
        display: none;
    }
}
/* end design section */
/* start about */
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.about .text p {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
}

.about .text p span {
    font-weight: bold;
    color: black;
}

.about .text p:last-of-type {
    color: var(--text-color);
}

.about .text hr {
    background-color: var(--main-color);
    margin: 40px 0;
    height: 2px;
}

.about .text h5 {
    font-size: 20px;
    letter-spacing: -1px;
    font-family: Arial, Helvetica, sans-serif;
}
/* end about */
/* start contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: aliceblue;
}

.contact a {
    text-decoration: none;
}

.contact .text {
    padding: 10px 50px;
}

.contact .text h2 {
    font-size: 40px;
    color: var(--main-color);
    letter-spacing: -2px;
}

.contact .text a {
    color: black;
    font-size: 30px;
    letter-spacing: -2px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.contact .social {
    padding: 30px 50px;
}

.contact .social i{
    font-size: 30px;
    color: var(--main-color);
    margin-right: 10px;
}

@media (max-width: 767px) {
    .contact .text {
        text-align: center;
    }
    .contact .text h2 {
        font-size: 30px;
    }
    .contact .text a {
        font-size: 25px;
    }
    .contact .social i {
        font-size: 20px;
    }
}
/* end contact */
/* start footer */
footer {
    padding: 50px;
    text-align: center;
    background-color: beige;
}

footer span {
    font-family: "Dancing Script", cursive;
    color: var(--main-color);
    font-size: 20px;
}
/* end footer */